body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
float: left;
}
 
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
 
li a:hover:not(.active) {
  background-color: #111;
}
 
.active {
  background-color: #4CAF50;
}
.column {
  float: left;
  width: 22%;
  padding: 0 10px;
}
 
 
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
 
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
 
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  width:300px;
  height:400px;
}
.div1 a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.div1 a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
.div1 a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
 
.cookie-banner-container {
  background: skyblue;
  padding: 8px 32px;
  border-radius: 8px 8px 0 0;
  position: fixed;
  bottom: -100%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 2px -8px 18px black;
 
  transition: 400ms;
}
.cookie-banner-container p {
  font-size: 18px;
}
 
.cookie-banner-container p a{
  color: black
}
 
.cookie-banner-container button {
  border: 0;
  padding: 16px 48px; 
  background:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 16px 0;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 -8px 16px rgba(0,0,0,0.2);
}
 
.close {
  position: absolute;
  background-color:white;
  top: 0;
  right:0;
  cursor: pointer;
}
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}
.footer {
  padding-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  border: 3px;
  border-color: black;
  color: white;
  text-align: center;
}
.footer a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.footer a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
.footer a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.policy {
  color: black;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
 
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
 
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
 
input:checked + .slider {
  background-color: #2196F3;
}
 
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
 
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
 
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
 
.slider.round:before {
  border-radius: 50%;
}
.link_in_text{
  color:black;
  text-decoration: underline;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

