<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    </script>
    <script>

        document.addEventListener("visibilitychange", function(){
            navigator.sendBeacon(`${window.location}`, 
            makeData(("page_" + document.visibilityState)))
            }) 


        // Log unload event - always logged on desktop, usually not on mobile
        window.addEventListener("beforeunload", function(){
           navigator.sendBeacon(`${window.location}`, makeData("page_unload"))
        });

        // Log load event for page
        window.addEventListener("load", function(){
           logEvent("page_open")
        });
        
        // Return string to send with POST request
        function makeData(event_type, element_id="none") {

          // Get time in ms, round to 1/10th second due to browser imprecision
          timestamp = Math.floor(Date.now() / 100 );
          timestamp = timestamp / 10; // Convert from ms to seconds
          timestamp = String(timestamp); // Cast to string

          // Compile parameters into JSON object
          var data = timestamp + ";" + event_type + ";" + element_id
          return data;
        }

        /* Send a POST request to server, logging a page event.  Can't be used
          for page unload due to asynchronous running - page finishes closing
          before the request can receive a response. Use "navigator.sendbeacon"
          instead.  Takes string parameters event_type - "page_load", or 
          "click", and optional element_id - what was clicked on  */
        function logEvent(event_type, element_id="none") {
      
          // Send POST request to backend
          fetch(`${window.location}`, {
            method: "POST",
            credentials: "include",
            body: makeData(event_type, element_id),
            cache: 'no-cache',
            headers: new Headers({
              'content-type': 'application/json'
            })
          });
        }
      </script>
</body>
</html