{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}
<div class = "content">
    <h1 style="text-align: center">Top Stories</h1>
    {% if stories|length < 1 %}
    <a href="/update/">Refresh stories</a>
    {% else %}
    <table>
        <tr>
            <th style = "width: 100%">Headline</th>
            <th>Source</th>
        </tr>
    {% for story in stories %}
        <tr>
            <td><figure><center><a href="{{ story.url }}"><img style="width:100%" src= {{ story.image_url }}></a></figure><figcaption>{{ story.title }}</figcaption></center></td>
            <td>{{ story.source_name }} {{story.published_at}}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="/update/">Refresh stories</a>
    {% endif %}
</div>
{% endblock %}