<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Privacy Policy</title>
</head>

<body>
  <h1>PRIVACY POLICY</h1>
  <p>This website is part of an academic study on how people interact with consent notices. </p>
<h2>TYPES OF INFORMATION COLLECTED</h2>
<p>Your interactions with this website (including how many links you clicked on, whether or how you interacted with the consent notice) have been logged. We also log the browser you use and a unique identifier. No personally-identifiable information is collected or logged.</p>
<h2>CONFIDENTIALITY OF YOUR INFORMATION</h2>
<p>Information that we collect about your interactions with this site will be kept confidential, stored password-protected, and only our research team will be able to see it. 
Government or college staff sometimes review studies such as this one to make sure they are being done safely and legally. If a review of this study takes place, your records may be examined. The reviewers will protect your privacy. The study records will not be used to put you at legal risk of harm.
</p>
<h2>HOW WE USE YOUR INFORMATION</h2>
<p>The knowledge/results that we get from this study may be (based upon its quality and quantity) published in a poster, paper, or presentation, after we remove any identifying information from quotes. We do not collect, share, or sell an personal information. 
</p>
<h2>RIGHT TO OPT-OUT</h2>
<p>You may choose to opt-out of this study by clicking on the button below. If you click on that button, your data will be deleted and it will not be included in our academic study. Not clicking on the button below will be considered consent to include your logged interactions in this study. 
</p>
<h2>SOURCE OF FUNDING</h2>
<p>This study is supported by funds provided by Pomona College.
</p>
</body>

</html>