{% extends 'base.html'%}

{% block head %}
{% endblock %}

{% block body %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/cnn/">CNN</a></li>
    <li><a href="/vice/">Vice News</a></li>
    <li><a class="active" href="/washingtonpost/">Washington Post</a></li>
    <li><a href="/usatoday/">USA Today</a></li>
  </ul>
<div class = "content">
    <h1 style="text-align: center">Top Washington Post Stories</h1>
    {% if stories|length < 1 %}
    <a href="/update/">Refresh stories</a>
    {% else %}
    <div class="row">
        {% for story in stories %}
        <div class="column">
          <div class="card">
            <figure><center><a href="{{ story.url }}" target="_blank"><img style="width:100%" src= {{ story.image_url }}></a></figure></center><figcaption>{{ story.title }}</figcaption>
            <p><strong>{{ story.source_name }}</strong><p>
          </div>
        </div>
        {% endfor %}
    </div>
    <a href="/update/">Refresh stories</a>
    {% endif %}
</div>
{% endblock %}