<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='main1.css' rel="stylesheet" type="text/css" media="all">
</head>
<body id="body">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/left/">Left-Wing</a></li>
        <li><a href="/center/">Center</a></li>
        <li><a href="/right/">Right-Wing</a></li>
        <li><a href="/international/">International</a></li>
      </ul>
      <div id="myNav" class="overlay">
        <div class="overlay-content">
      </div>
    <div class = "content">
        <h1 style="text-align: center">Trending Stories</h1>
        
    <div class="footer">
      <p><a target="_blank" href="/privacypolicy/">Privacy Policy</a> &nbsp; &nbsp;&nbsp; <a class="policy">Do Not Sell My Personal Information</a></p>
    </div>
</body>
</html>